*{
  margin: 0;
  padding: 0;
  border-radius: 5px;
}

.discription{
  background-color: rgb(255, 241, 44);
  border-radius: 5px;
  border: 1px solid black;
  margin-left: 1%;
  margin-right: 1%;
  }
  


  
  .wrap{
    height: 98vh;
    width: 95vw;
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    grid-template-rows: repeat(9, 1fr);
    margin-left: 3%;
    margin-right: 3%;
    background-color: bisque;
  font-size: 2vh;
  grid-template-areas:

  "title title title title"

  "header header header header"

  "premise premise medPrimary medPrimary "

  "primary primary medPrimary medPrimary"

  "primary primary medPrimary medPrimary"

  "object object medPrimary medPrimary"

  "object object medPrimary medPrimary"

  "annotation annotation annotation annotation"

  "footer footer footer footer"
  
}

.wrap>div{
  background-color: rgb(255, 222, 161);
  border: 1px solid orangered;
}